@font-face {
  font-family: "PublicSans-Regular";
  src: url(../font/public-sans/PublicSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PublicSans-Bold";
  src: url(../font/public-sans/PublicSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Display-Regular";
  src: url(../font/DMSerifDisplay-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RobotoMono-Regular";
  src: url(../font/RobotoMono-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
